@charset "UTF-8";


@media screen and (min-width: 700px) and (max-width: 992px) {

  body {
    background-image: url('../pexels-kafeel-ahmed-5591254.jpg');
    background-position: center;
    color: #000000;
  }

}

@media screen and (min-width: 992px) {

  body {
    background-image: url('../pexels-kafeel-ahmed-5591254.jpg');
    background-position: center;
    color: #000000;
  }

}
